* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

    padding: 10%;
}

h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

p {
    margin-bottom: 20px;
}

.align-left {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

.align-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 30px;
}

.button {
    border: 0;
    background-color: green;
    font-size: 22px;
    color: #fff;
    padding: 20px 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
    cursor: pointer;
}

#youtubeVideo,
#formOrder {
    display: none;
}

.form-order .field {
    margin-bottom: 30px;
}

.form-order label {
    display: block;
}

.form-order input {
    font-size: 18px;
    padding: 10px 20px;
}

.form-order button {
    border: 0;
    background-color: #333;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
}